@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(207, 255, 214);
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container-informations {
    display: grid;
    text-align: center;
    justify-content: center;
}

.container-informations h1 {
    font-size: 60px;
}

.container-informations h2 {
    font-size: 40px;
    padding-bottom: 50px;
    
}

.container-slides {
    margin: 0 auto;
    width: 800px;
    height: 475px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 475px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 800px;
    height: 475px;
}

.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid gray  ; 
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.auto-navigation div{
    border: 2px solid gray;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.auto-navigation {
    position: absolute;
    width: 800px;
    margin-top: 435px;
    display: flex;
    justify-content: center;
}

.auto-navigation div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .auto-navigation .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .auto-navigation .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .auto-navigation .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .auto-navigation .auto-btn4{
    background-color: white;
}

.container-me {
    padding: 90px;
    font-size: 25px;
    text-align: justify;
}

footer {
    background-color: rgb(107, 235, 107);
    height: 15vh;
    
}

footer p {
    height: 3px;
    padding-left: 5px;
}

.container-medias {
    justify-content: center;
    align-items: center;
    display: flex;
}

.github {
    padding-top: 3vh;
    width: 70px;
    height: 70px;
}

.linkedin {
    padding-top: 3vh;
    width: 50px;
    height: 50px;
}



