/* .color1 { #2b2318 };
.color2 { #524835 };
.color3 { #56704b };
.color4 { #5d9e7e };
.color5 { #78b3a4 }; */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: grid;
    background-color: #78b3a4;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container-informations {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

.container-informations span {
    font-size: 80px;
    font-weight: 800;
    position: relative;
}

.container-informations span::before{
    content: "";
    color: #000000;
    animation: palavras 20s infinite;
}

@keyframes palavras {
    0%, 20%{
        content: "Seja bem vindo";
    }
    21%, 40%{
        content: "Aqui você";
    }
    41%, 60% {
        content: "Conhecerá mais";
    }
    61%, 80% {
        content: "Sobre mim";
    }
    81%, 100% {
        content: ":)";
    }
}

.container-informations h2 {
    font-size: 40px;
    padding-bottom: 50px;   
}

.container-textos {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.texto {
    border-radius: 50px;
    font-size: 25px;
    background-color: #5d9e7e;
    padding: 20px;
    text-align: justify;
    margin-bottom: 20px;
    width: 40%;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.direita {
    align-self: flex-end;
    transform: translateX(50px);
}

.esquerda {
    align-self: flex-start;
    transform: translateX(-50px);
}

.texto:last-child {
    margin-bottom: 0;
}

.texto.mostrar {
    opacity: 1;
    transform: translateX(0);
}   

.container-medias {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    width: 20%;
    height: 100%;
    background-color: #5d9e7e;
    justify-content: center;
    align-items: center;
    display: flex;
}

.github {
    padding: 25px;
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.linkedin {
    padding: 25px;
    width: 100px;
    height: 100px;
    transition: 0.5s;
}

.github:hover {
    transform: scale(1.1);
}

.linkedin:hover {
    transform: scale(1.1);
}



